* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #06b6d4;
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}
#container {  
    margin-top: 50px;
    justify-content: center;
    width: 700px;
    /* max-width: 100%; */
    
   
}
#addButton {
    background-color: #06b6d4;
    padding: 14px 25px;
    border-radius: 25px;
    position: absolute;
    /* top: 0; */
    bottom: 646.5px;
   right: 370.5px;
    /* margin-right: 20%; */
}
#todoInput {
    box-sizing: border-box;
    padding: 12px 20px;
    background-color: black;
    color: whitesmoke;
    border: 1px solid grey;
    border-radius: 25px;
    /* justify-content: end; */
    height: 47px;
    width: 100%;
    font-size: inherit;
    caret-color: #06b6d4;
    margin-bottom: 20px;
    /* margin-bottom: 20px; */
    
}


#todo-input:focus {
    outline: none;
}
.todo {
    color: white;
    display: flex;
    padding: 0px 15px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #1C1D20;
    width: auto
   
}


.todo .todo-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: auto;
    /* padding: 10px;
    padding-right: 0;
    flex-grow: 1; */
}
.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.delete-button:hover svg {
    fill: red;
}

.delete-button svg {
    transition: 200ms ease;
}

.custom-checkbox {
    border: 2px solid #06b6d4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    min-height: 20px;
    min-width: 20px;
    flex-shrink: 0;
    cursor: pointer;
    transition: 200ms ease;
}

input[type='checkbox']:checked ~ .custom-checkbox {
    background: #06b6d4;
}
input[type='checkbox']:checked ~ .custom-checkbox svg {
    fill:  #1C1D20;
}
input[type='checkbox']{
    display: none;
}
input[type='checkbox']:checked ~ .todo-text {
    color: #4a4d57;
    text-decoration: line-through;
}

/* responsiveness */
@media (max-width: 400px) {
    html {
        font-size: 10pt;
        overflow-x: hidden;
    }
    #container {
        width: 400px;
        align-items: center;
    }
    #todo-input {
        width: 340px;
        
        margin-top: 15px;
        margin-left: 30px;
    }
    #addButton {
        position: fixed;
        right: 26px;
        margin-top: 10px;
        padding: 15px;
        bottom: 78.5%;
        height: auto;
    }

    .todo  {
        margin-right: 25px;
        padding: 0px 0px 15px 15px;
    }

}
 @media (min-width: 400) {
    html {
        font-size: 12pt;
        overflow-x: hidden;
    }
    .container {
        width: 400px;
        align-items: center;
    }
    #todo-input {
        width: 350px;
        margin-top: 15px;
        margin-left: 30px;
    }
    #addButton {
        position: absolute;
        right: 20px;
        margin-top: 10px;
        padding: 14px;
        /* bottom: 78%; */
        height: auto;
    }

    .todo  {
        margin-right: 25px;
        padding: 0px 0px 15px 15px;
    }
} 


   